*{
    margin: 0px;
    padding: 0px;
    font-family: arial;
    box-sizing: border-box;
}
#wrap{
    display: flex;
    flex-direction: column;
    width:90%;    
    margin: 0 auto;    
}
#header-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid #111;
}
.menu
{
    display:none;
    padding-right: 1.5rem;
}
   
ul{   
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}
a:hover{
    color: hsl(26, 100%, 55%);
}
a{
    text-decoration: none;
    color: black;
}
#profilepix-cart{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
hr{
    width: 100%;
}
#Main-body
{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 3%;    
}
#shoe-display
{   display: flex;
    flex-direction: column;
    flex-basis: 50%;    
}
#main-shoe-display
{   display: flex;
    flex-direction: column;
    width: 65%;
    border-radius: 5px;
    min-height: 300px;
    margin-left: 12%;    
    }
 .shoe1{
        width: 98%;
        height: 95%;
        border-radius: 4px;
    }
#text-area
{
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#other-show-display
{
    display: flex;
    flex-direction: row;
    width: 65%;
    min-height: 50px;
    margin-left: 12%;
    margin-top: 5%;
}
.small-display
{    display: flex;
    flex-direction: column;
    width: 90%;
    border-radius: 5%;
}
.small-display:hover
  {
    background-color: #7a4bc7;
    border: 1px solid white;
    transition: .5s;
  }
  #company-name{
    width: 40%;
    min-height: 25px;
    margin-top: 5%;
    color: hsl(26, 100%, 55%);
  }
#head-text
{    width: 90%;
    min-height: 50px;
    margin-top: 1%;
    font-size: 18px;
}
#body-text
{    width: 100%;
    min-height: 90px;
    margin-top: 3%;
    line-height: 25px;
    font-size:medium ;
}
#pricing-div
{    display: flex;
    flex-direction: row;
    width: 30%;
    min-height: 20px;
    margin-top: 1%;
}
#main-price{
    font-size:x-large;
}
#percentage-discount
{   flex-basis: 22%;
    background-color: hsl(26, 85%, 69%);
    color: hsl(26, 100%, 55%);
    border-radius: 4px;
    margin-left: 5%;
    padding: 4px;
}
#old-price
{    color: grey;
    margin-top: 1%;
}
#selectamount-addcart
{    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 55px;
    margin-top: 1rem;
    gap: 1rem;
}
#select-amount
{   display: flex;
    flex-direction: row;
    flex-basis: 30%;
    background-color: rgb(203, 199, 199);
    border-radius: 4px;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    
}
button
{   display: flex;
    flex-direction: row;
    flex-basis: 30%;
    background-color: hsl(26, 100%, 55%);
    border-radius: 4px;
    border: 0px;
    padding: 1rem;
}
#add-cart
{
  color: white;
  padding: auto;
  justify-content: center;
  gap: 1rem;
}

#minus{
    color: hsl(26, 100%, 55%);
    font-size:x-large;
}

#plus
{   color: hsl(26, 100%, 55%);
    font-size:x-large; 
    }
input
{
    width: 10%;
    border: 0px;
    background-color: rgb(203, 199, 199);
    outline: none;    
    margin-left: 1rem;
    

}
@media screen and (min-width:200px) and (max-width: 600px){
#Main-body
{   display: flex;
    flex-direction: column;
    width: 100%;
}    
#other-show-display
{
    display: none;
}
.headlink{
    display: none;
}
.menu
{
    display: initial;    
}
.shoe1{
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    #header-div{
    border-bottom: 0px;
    margin-top: 1rem;
    justify-content: space-around;
    padding:0; 
    }
    #wrap{
         width:100%;          
    }
    #main-shoe-display
{   
    width: 100%;
    border-radius: 0px;
    margin: 0;
    }
    #company-name{
        width: 80%;       
    }
    #text-area
    {
     margin-left: 1rem;
    }
    #body-text{
        width: 90%;
    }
    #price-container
    {
        display: flex;
        flex-direction: row;
        gap: 10rem;
        margin-top: 1rem;
    }
   #selectamount-addcart 
   {
    display: flex;
    width: 90%;
    flex-direction: column;
    
    }
    #add-cart{
        justify-content: center;
        align-items: center;
    }
    #select-amount
    {
        min-height: 55px;
    }
    br
    {
        display: none;
    }

}